*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1320px;
    margin: 0 auto;
}

.first{
    background-image: url(./img/image\ 1.png);
    display: flex;
}

.header{
    display: flex;
}

.header img{
    margin-top: 30px;
    margin-right: 68px;
}

.play{
    display: flex;
    width: 243px;
    height: 50px;
    border-radius: 10px;
    background-color:#009FF5B5;
    margin-top: 30px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #DAD3FF;
    margin-right: 35px;
}

.play img{
    margin: 9px 21px 9px 19px;
}

.play p{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0%;
    color: white;     
}

.fp{
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0%;
    color: #D5D5D6;
    text-shadow: 0px 4px 4px #000000E0;
    margin-top: 44px;
    margin-right: 463px;    
}

.sp{
    margin-right: 0px;
}

.sectionfirsth2{
    margin-top: 177px;
    text-align: center;
    background-color: #FFC611;
    border: 11px solid #5A5555;
    border-radius: 50px;
    width: 604px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 0%;
    text-shadow: 0px 4px 4px rgba(0, 71, 255, 1);
    margin-left: 391px;
}

.images{
    margin-top: 132px;
    display: flex;
    gap: 127px;
}

.cardimage{
    width: 361px;
    height: 420px;
    background-color: rgba(31, 31, 31, 1);
    box-shadow: 8px 7px 20px 0px rgba(255, 255, 255, 1);
    margin-bottom: 126px;
}

.cardimage h2{
    text-align: center;
    color: black;
    font-family: Roboto;
    font-weight: 600;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 0%;
    margin-top: 15px;
    width: 146px;
    height: 40px;  
    text-shadow: 0px 4px 4px rgba(255, 194, 0, 1);  
}

.second{
    background-color: black;
    display: flex;
}

.info{
    font-family: Roboto;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(90, 85, 85, 1);
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 1);
    margin-top: 61px;
    margin-bottom: 58px;    
}

.sameone{
    display: flex;
}

.ptext{
    font-family: Roboto;
    font-weight: 600;
    font-size: 27px;
    line-height: 31.64px;
    letter-spacing: 0%;
    color: white;
    margin-bottom: 96px;    
}

button{
    width: 278px;
    height: 61px;
    background-color: rgba(255, 194, 0, 1);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    line-height: 31.64px;
    letter-spacing: 0%;
    box-shadow: 0px 7px 12.8px rgba(255, 255, 255, 1);
    text-shadow: 0px 4px 4px rgba(4, 4, 4, 0.81);       
}

button:hover{
    color: white;
    background-color: rgba(83, 83, 83, 1);
}

footer{
    background-color: rgba(255, 198, 17, 1);
}

.footer{
    display: flex;
    justify-content: space-between;
    height: 158px;
    align-items: center;
}

.paint{
    display: flex;
    gap: 40px;
}